* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

/* body{
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
} */
.menu-bar {
    background-color: rgb(28, 64, 28);
    text-align: center;

}

.menu-bar ul {
    display: flex;
    /* display: inline-flex; */
    list-style: none;
    /* color: #fff; */
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.active,
.menu-bar ul li:hover {
    background-color: #548249;
    border-radius: 3px;
    cursor: pointer;
}

.menu-bar .fa {
    margin-right: 7px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: rgb(27, 55, 27);
    margin-top: 15px;
    margin-left: 15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: #c9e97d;
}

.fa-angle-right {
    float: right;
    color: white;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background-color: rgba(0, 100, 0);
    color: #a2d696;
}
/* .search-bar{
    display: block;
    width: 20%;
} */
.search-item {
    display: block;
    float: right;
    margin: 26px 52px;
    padding: 5px 31px;
}
.btn{
    display: block;
    padding: 5px;
    position: relative;
    float: right;
    left: 23em;
    top: 26px;
}